@font-face {
  font-family: 'cma-icones';
  src: url('../font/cma-icones.eot?25258804');
  src: url('../font/cma-icones.eot?25258804#iefix') format('embedded-opentype'),
       url('../font/cma-icones.woff2?25258804') format('woff2'),
       url('../font/cma-icones.woff?25258804') format('woff'),
       url('../font/cma-icones.ttf?25258804') format('truetype'),
       url('../font/cma-icones.svg?25258804#cma-icones') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'cma-icones';
    src: url('../font/cma-icones.svg?25258804#cma-icones') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "cma-icones";
  font-style: normal;
  font-weight: normal;
  

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-printer:before { content: '\e800'; } /* '' */
.icon-print:before { content: '\e801'; } /* '' */
.icon-zoom-plus:before { content: '\e803'; } /* '' */
.icon-zoom-moins:before { content: '\e804'; } /* '' */
.icon-fullscreen:before { content: '\e805'; } /* '' */
.icon-logo-cma:before { content: '\e806'; } /* '' */
.icon-fleche-gauche:before { content: '\e807'; } /* '' */
.icon-fleche-droite:before { content: '\e808'; } /* '' */
.icon-info:before { content: '\e809'; } /* '' */
.icon-contrast:before { content: '\e80a'; } /* '' */
.icon-croix:before { content: '\e80b'; } /* '' */
.icon-fullscreen-rounded:before { content: '\e80c'; } /* '' */
.icon-menu-dots:before { content: '\e80d'; } /* '' */
.icon-croix-cercle:before { content: '\e80e'; } /* '' */
.icon-miniatures:before { content: '\e80f'; } /* '' */
.icon-partage:before { content: '\e810'; } /* '' */
.icon-x:before { content: '\e812'; } /* '' */
.icon-facebook:before { content: '\f30c'; } /* '' */
.icon-linkedin:before { content: '\f318'; } /* '' */
